name: Publish to Github Pages

on:
  push:
    branches:
      - master

jobs:
  build-deploy:
    # 运行所需要虚拟机环境
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      # 安装依赖
      - run: npm i

      # 打包
      - run: npm run build

      # 部署
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@master
        with:
          ACCESS_TOKEN: ${{secrets.DEPLOY_KEY1}}
          BRANCH: gh-pages
          FOLDER: build
        # env:
        #   PERSONAL_TOKEN: ${{ secrets.DEPLOY_KEY1 }}
        #   PUBLISH_BRANCH: gh-pages
        #   # 生成文件的目录
        #   PUBLISH_DIR: build
        #   BUILD_SCRIPT: npm install && npm run build
